[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "~=3.9.1"
scikit-learn = "~=1.5.2"
matplotlib = "~=3.9.2"
wordcloud = "~=1.9.3"

[dev-packages]

[requires]
python_version = "3.12"
